
body{
	background: royalblue;
	
	font-weight: normal;
	font-size:25px;
	text-align: center;
	
}

h1{
	font-family: 'Black Han Sans', sans-serif;
	color: yellow;
	font-size: 65px;
	text-align: center;
}

p{
	font-family: 'Roboto Condensed', sans-serif;
	color:yellow;
}

#search{
	color: black;
}

.box{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:20px;
	color:yellow;
}




